@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4B5563 #F3F4F6;
  }

  /* For Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 4px;
    border: 2px solid #F3F4F6;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #374151;
  }
}
